#terminal-container {
    width: 100%;
    height: 60vh; /* 60% da altura do ecrã */
    background: #000;
    border-radius: 5px;
    overflow: hidden;
}

/* Ajusta o 'viewport' do xterm.js para preencher o nosso container */
.terminal.xterm {
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /* Garante que o padding não quebre o layout */
}
